@model List<NotesApp.MVC.Models.Note>


<div class="container">	
<h1>My Notes</h1>

<form method="get">
	<input type="text" name="search" placeholder="Search notes..." />
	<input type="text" name="tag" placeholder="Filter by tag..." />

	<select name="sort">
		<option value="">No sorting.</option>
		<option value="date_asc">Date up</option>
		<option value="date_desc">Date down</option>
	</select>
	<button type="submit">Search</button>
</form>

<a class="btn" href="~/Notes/Create">Create Note</a>

@if (!Model.Any())
{
	<p>No notes yet</p>
} else
{
	foreach (var note in Model)
	{
		<div class="note">
			<h2>@note.Title</h2>
			<p>@note.Content</p>
			<a href="~/Notes/Edit?id=@note.Id">Edit</a>

			<form method="post">
				<button type="submit" formaction="~/Notes/Delete?id=@note.Id">Delete</button>
			</form>

		</div>
	}
}
</div>

